/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

@import "partials/0_global/base-global";
@import 'partials/1_styleguide/colors';
@import 'partials/1_styleguide/fonts';
@import 'partials/1_styleguide/typography-base';

/* Logo */
#logo a {background:none;}

/* Backgrounds */
html{background:none;}
#logo{background:none;}
#container{background:none;}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:url(../images/noise.png) lighten($SecLightGold,25) repeat}
.wufoo .instruct{
	background-color:$secondary;
	border:1px solid darken($secondary,15);
}

/* Spacing */
.wufoo li{
    @include rhythm($ms-1, 0, 0, $ms-5n, $font-size-med);
}

/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{ border-bottom:1px dotted #CCCCCC;
	@include rhythm(0, 0, 0, $ms-0, $font-size-med);
	}//end .wuFoo .info
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2{
	border-bottom-color:$SecLightGold;    
    border-bottom-style:solid;    
    font-family:$LtCn;
    font-weight: 200;
    color: $primary;
    border-top:0;
    @include adjust-font-size-to($font-size-xlarge);
    @include rhythm($ms-4, 0, $ms-5n, $ms-1n, $font-size-xlarge);
    @include trailing-border(ms(-8), $ms-4n);
    border-image:url(../images/patternBar.jpg) 1 0;
    max-width: 25em;
}
.wufoo .info div{
	@include adjust-font-size-to($font-size-med-2);
    @include adjust-leading-to($ms-1);
    @include rhythm($ms-1, 0, 0, $ms-3n, $font-size-med-2);

    max-width: 50em;
    font-family: $font-paragraph;
    font-weight: 400;
    color:tint($black,20);
}
.wufoo .section h3{
	color: $primary;
    border:0;
    
    @include adjust-font-size-to($font-size-large-2);
    @include rhythm($ms-4, 0, 0, $ms-1n, $font-size-large-2);
    @include trailing-border(ms(-9), $ms-4n);
    border-bottom-style:dotted;
    @extend .font-Bd;
    text-transform: none;
    border-bottom-color:tint($WarmGrey3,45);
    max-width:33em;
}
.wufoo .section div{
	@include adjust-font-size-to($font-size-med);
    @include adjust-leading-to($ms-1);
    @include rhythm($ms-1, 0, 0, $ms-3n, $font-size-med);

    max-width: 50em;
    font-family: $font-paragraph;
    font-weight: 400;
    color:$black;
}
.wufoo label.desc, .wufoo legend.desc{
	@include adjust-font-size-to($font-size-med-2);
	color:$primary;
	@extend .font-Lt;
}
.wufoo li div, .wufoo li div label, .wufoo li span label{

	color:$WarmGrey1;
	@include adjust-font-size-to($font-size-small-2);


}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{
	@include adjust-font-size-to($font-size-med);
	@extend .font-Roman;
	color:$black;
}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
} 
.wufoo li span label{
	@extend .font-Roman;
}


/*text inputs */
.wufoo input.text{
	@include adjust-font-size-to($font-size-med);
	border:0;
	border-bottom:ms(-9) solid $MidGrey;
	color:$WarmGrey2;
	&:active, &:focus{
		border:0;
		border-bottom:ms(-9) solid $tertiary;
		color:$WarmGrey1;
		outline:none;
	}
}


/* buttons */
.wufoo .buttons input{
	@include btn;
}

.wufoo input.file{
}


.wufoo input[type="radio"], .wufoo input[type="checkbox"]{
} 
