
	<div class="cpass-footer-wrapper">
	 <div id="cpass-footer" class="footer">   
	   <div class="container cpass-cta"> 

	    <section class="about">
	      <p class="title">About CPASS</p>
	      <ul class="nav nav-list">
	        <li><a href="#">Discover CPASS</a></li>
	        <li><a href="#">Hall of Fame</a></li>
	        <li><a href="#">Mission Statement</a></li>
	        <li><a href="#">Our New Home</a></li>
	        <li><a href="#">Jobs at CPASS</a></li>
	        <li><a href="#">Strategic Plan</a></li>
	        <li><a href="#">Visiting Committee</a></li>
	        <li><a href="#">Visiting Lecturers</a></li>
	        <li><a href="#">Jobs at CPASS</a></li>

	        
	        <li>
	          <p><a href="#">Faculty & Staff</a></p>
	          <ul class="nav nav-list">
	            <li><a href="#">Administration</a></li>
	            <li><a href="#">Staff Listing</a></li>
	            <li><a href="#">ACE Faculty</a></li>
	            <li><a href="#">ATTR Faculty</a></li>
	            <li><a href="#">PETE Faculty</a></li>
	            <li><a href="#">SEP Faculty</a></li>
	            <li><a href="#">SM Faculty</a></li>
	          </ul>
	        </li>
	      </ul> <!-- /.long-menu-navlist -->
	    </section>  <!-- /.about --> 

	    <section class="events">
	      <dl>
	        <dt class="title">Upcoming Events</dt>
	        <dd class="calEvent">
	          <span class="calEvent__date">
	          	<span class="calEvent__month">February</span>
	          	<span class="calEvent__day">20</span>
	          </span><!--end calEvent__date-->	
	          <span class="calEvent__info">
	            <span class="calEvent__title">WVU Academy of Distinguished Alumni</span>
	            <span class="calEvent__location">Evansdale Campus - Erickson Alumni Center</span>
	            <span class="calEvent__startTime">12:00 p.m.</span>
	            <a class="btn calEvent__link">More information</a>
	           </span><!--end calEvent__info-->
	        </dd><!--end calEvent-->
	        <dd class="calEvent">
	          <span class="calEvent__date">
	          	<span class="calEvent__month">March</span>
	          	<span class="calEvent__day">30</span>
	          </span><!--end calEvent__date-->	
	          <span class="calEvent__info">
	            <span class="calEvent__title">WV Physical Activity Symposium</span>
	            <span class="calEvent__location">Evansdale Campus - Erickson Alumni Center</span>
	            <span class="calEvent__startTime">12:00 p.m.</span>
	            <a class="btn calEvent__link">More information</a>
	           </span><!--end calEvent__info-->
	        </dd><!--end calEvent-->
	        <dd class="calEvent">
	          <span class="calEvent__date">
	          	<span class="calEvent__month">April</span>
	          	<span class="calEvent__day">23</span>
	          </span><!--end calEvent__date-->	
	          <span class="calEvent__info">
	            <span class="calEvent__title">CPASS Spring Visiting Committee</span>
	            <span class="calEvent__location">Evansdale Campus - Health and Education Building</span>
	            <span class="calEvent__startTime">12:00 p.m.</span>
	            <a class="btn calEvent__link">More information</a>
	           </span><!--end calEvent__info-->
	        </dd><!--end calEvent-->
	        <dd class="calEvent">
	          <span class="calEvent__date">
	          	<span class="calEvent__month">May</span>
	          	<span class="calEvent__day">17</span>
	          </span><!--end calEvent__date-->	
	          <span class="calEvent__info">
	            <span class="calEvent__title">CPASS Commencement</span>
	            <span class="calEvent__location">Evansdale Campus - College of Creative Arts - Auditorium</span>
	            <span class="calEvent__startTime">8:00 p.m.</span>
	            <a class="btn calEvent__link">More information</a>
	           </span><!--end calEvent__info-->
	        </dd><!--end calEvent-->
	      </dl>
	    </section><!--end .events-->

	    <section class="news">
	      <div class="social-connect social-cpass">
	        <p class="title">Stay Connected</p>
	        <ul class="long-menu-navlist">	          
	          <li><a href="#" class="facebook">CPASS on Facebook</a></li>
	          <li><a href="#" class="twitter">CPASS on Twitter</a></li>
	          <li><a href="#" class="linkedin">CPASS on Linked-In</a></li>
	          <li><a href="#" class="instagram">CPASS on Instagram</a></li>	  
	          <li><a href="#" class="email">Contact Us</a></li>        
	          <li><a href="#"class="rss">CPASS News Blog</a></li>
	          <li><a href="#" class="perspective">Perspective: Alumni Magazine</a></li>
	        </ul><!-- /.long-menu-navlist -->
	      </div> <!-- /.social-connect-->
	      <dl>
	        <dt class="title">Latest News</dt>
	        <dd class="newsArticle">
	          <span class="newsArticle__date">
	          	<span class="newsArticle__month">February</span>
	          	<span class="newsArticle__day">10th</span>
	          </span><!--end newsArticle__date-->	
	          <span class="newsArticle__info">
	            <a class="newsArticle__link"><span class="newsArticle__title">PETE grad earns national credentials</span></a>
	           </span><!--end newsArticle__info-->
	        </dd><!--end newsArticle-->
	        <dd class="newsArticle">
	          <span class="newsArticle__date">
	          	<span class="newsArticle__month">February</span>
	          	<span class="newsArticle__day">9th</span>
	          </span><!--end newsArticle__date-->	
	          <span class="newsArticle__info">
	            <a class="newsArticle__link"><span class="newsArticle__title">Morgantown area school integrates stationary bikes to improve learning</span></a>
	           </span><!--end newsArticle__info-->
	        </dd><!--end newsArticle-->
	        <dd class="newsArticle">
	          <span class="newsArticle__date">
	          	<span class="newsArticle__month">February</span>
	          	<span class="newsArticle__day">4th</span>
	          </span><!--end newsArticle__date-->	
	          <span class="newsArticle__info">
	            <a class="newsArticle__link"><span class="newsArticle__title">PETE grad expands PE program at area elementary school</span></a>
	           </span><!--end newsArticle__info-->
	        </dd><!--end newsArticle-->
	        <dd class="newsArticle">
	          <span class="newsArticle__date">
	          	<span class="newsArticle__month">January</span>
	          	<span class="newsArticle__day">30th</span>
	          </span><!--end newsArticle__date-->	
	          <span class="newsArticle__info">
	            <a class="newsArticle__link"><span class="newsArticle__title">SM students connect with the industry through Sport Governance class</span></a>
	           </span><!--end newsArticle__info-->
	        </dd><!--end newsArticle-->
	        <dd class="newsArticle">
	          <span class="newsArticle__date">
	          	<span class="newsArticle__month">December</span>
	          	<span class="newsArticle__day">23rd</span>
	          </span><!--end newsArticle__date-->	
	          <span class="newsArticle__info">
	            <a class="newsArticle__link"><span class="newsArticle__title">ACE grad lands prestigious internship with USOC</span></a>
	           </span><!--end newsArticle__info-->
	        </dd><!--end newsArticle-->
	      </dl>
	    </section>

	   </div><!--.container-->
	   <div class="container cpass-resources"> 
	 	 <section class="academics">
	 	   <h2>Academic Programs</h2>

	 	   <table class="programs">
	 	     <tr class="programs__r1">
	 	       <td class="programs__c1">Athletic Coaching Education</td>
	 	       <td class="programs__c2"><a href="#">B</a></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	     <tr class="programs__r2">
	 	       <td class="programs__c1">Athletic Training</td>
	 	       <td class="programs__c2"><a href="#">B</a></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	     <tr class="programs__r3">
	 	       <td class="programs__c1">Coaching and Sport Education</td>
	 	       <td class="programs__c2"></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	     <tr class="programs__r4">
	 	       <td class="programs__c1">Coaching and Teaching Studies</td>
	 	       <td class="programs__c2"></td>
	 	       <td class="programs__c3"></td>
	 	       <td class="programs__c4"><a href="#">D</a></td>
	 	     </tr class="programs__r5">
	 	     <tr>
	 	       <td class="programs__c1">Physical Education Teacher Education</td>
	 	       <td class="programs__c2"><a href="#">B</a></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"><a href="#">D</a></td>
	 	     </tr>
	 	     <tr class="programs__r6">
	 	       <td class="programs__c1">Sport Coaching - Online</td>
	 	       <td class="programs__c2"></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	     <tr class="programs__r7">
	 	       <td class="programs__c1">Sport Exercise Psychology</td>
	 	       <td class="programs__c2"><a href="#">B</a></td>
	 	       <td class="programs__c3"></td>
	 	       <td class="programs__c4"><a href="#">D</a></td>
	 	     </tr>
	 	     <tr class="programs__r8">
	 	       <td class="programs__c1">Sport Management</td>
	 	       <td class="programs__c2"><a href="#">B</a></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	     <tr class="programs__r9">
	 	       <td class="programs__c1">Sport Management - Online</td>
	 	       <td class="programs__c2"></td>
	 	       <td class="programs__c3"><a href="#">M</a></td>
	 	       <td class="programs__c4"></td>
	 	     </tr>
	 	   </table>
	 	   <span><strong>B:</strong>bachelors,<strong>M:</strong>masters,<strong>D:</strong>doctoral</span>
	 	 </section><!--academics-->

	 	   

	 	 <section class="students">
	 	   <h2>Student Resources</h2>
	 	   <div class="students--future">
	 	     <h3><a href="#">Future Students</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">About WVU</a></li>
	 	       <li><a href="#">Apply Now!</a></li>
	 	       <li><a href="#">Campus Life</a></li>
	 	       <li><a href="#">Cost Calculator</a></li>
	 	       <li><a href="#">Discover CPASS</a></li>
	 	       <li><a href="#">Financial Aid</a></li>
	 	       <li><a href="#">International Students</a></li>
	 	       <li><a href="#">Request Information</a></li>
	 	       <li><a href="#">Schedule a visit</a></li>
	 	       <li><a href="#">Transfer Students</a></li>
	 	       <li><a href="#">TOEFL & SPEAK</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!--students--future-->
	 	   <div class="students--current">
	 	     <h3><a href="#">Current Students</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Campus Study Areas</a></li>
	 	       <li><a href="#">Career Services</a></li>
	 	       <li><a href="#">Course Catalog</a></li>
	 	       <li><a href="#">CPASS Minors</a></li>
	 	       <li><a href="#">Event Calendar</a></li>
	 	       <li><a href="#">Program Application Forms</a></li>
	 	       <li><a href="#">Program Admission Requirements</a></li>
	 	       <li><a href="#">Registars Office</a></li>
	 	       <li><a href="#">Scholarships and Financial Aid</a></li>
	 	       <li><a href="#">Software for Students</a></li>        
	 	       <li><a href="#">Student Advisory Board</a></li>
	 	       <li><a href="#">WVU Library Hours</a></li>
	 	       <li><a href="#">Wi-Fi Login Info</a></li>
	 	       <li><a href="#">Visiting Lecturers</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!--students--future-->
	 	 </section> <!-- /.students-->   

	 	 <section class="alumni">
	 	   <h2>Alumni Resources</h2>
	 	   <div class="alumni--main">
	 	   <h3><a href="#">Staying in Touch</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Contact Alumni Relations</a></li>
	 	       <li><a href="#">CPASS Events Calendar</a></li>
	 	       <li><a href="#">CPASS Hall of Fame</a></li>
	 	       <li><a href="#">Email Newsletter Signup</a></li>
	 	       <li><a href="#">Get A Transcript</a></li>
	 	       <li><a href="#">Join The Alumni Association</a></li>
	 	       <li><a href="#">Mountaineer Athletic Club</a></li>
	 	       <li><a href="#">Perspective: Alumni Magazine</a></li>
	 	       <li><a href="#">Visiting Committee</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!--alumni--main-->
	 	   <div class="alumni--giving">
	 	     <h3><a href="#">Paying it Forward</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Give to CPASS</a></li>
	 	       <li><a href="#">A State of Minds</a></li>
	 	       <li><a href="#">WVU Foundation</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!--alumni--giving-->
	 	 </section> <!-- /.community-->
	 	 
	 	 <section class="community">
	 	   <h2>Community Resources</h2>
	 	   <div class="community--lap">
	 	     <h3><a href="#">Lifetime Activities</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Available Courses</a></li>
	 	       <li><a href="#">Certifcation Courses</a></li>
	 	       <li><a href="#">Performance Enhancement</a></li>
	 	       <li><a href="#">Register A Course</a></li>
	 	       <li><a href="#">Stansbury Fitness Center</a></li>
	 	       <li><a href="#">WVU Healthy Kids</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!--community--lap-->
	 	   <div class="community--fit">
	 	     <h3><a href="#">FiT Publishing</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Featured Books</a></li>
	 	       <li><a href="#">Featured Authors</a></li>
	 	       <li><a href="#">FiT News</a></li>
	 	       <li><a href="#">Sport Marketing Quarterly</a></li>
	 	       <li><a href="#">Sport and Entertainment Review</a></li>
	 	       <li><a href="#">The IJSF</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!-- /.community--fit-->
	 	   <div class="community--nysp">
	 	     <h3><a href="#">NYSP</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Registration</a></li>
	 	       <li><a href="#">News and updates</a></li>
	 	       <li><a href="#">Support NYSP</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!-- /.community--nysp-->
	 	   <div class="community--icpe">
	 	     <h3><a href="#">ICPE</a></h3>
	 	     <ul class="long-menu-navlist">
	 	       <li><a href="#">Conferences</a></li>
	 	       <li><a href="#">About</a></li>
	 	       <li><a href="#">Contact</a></li>
	 	     </ul><!-- /.long-menu-navlist -->
	 	   </div><!-- /.community--nysp-->
	 	 </section> <!-- /.community-->


	 	
	   </div>
	 </div>
    </div><!--end .wvu-footer-wrapper-->  