<header id="masthead_cpass">
  <div class="container">
 <a class="logo-cpass" href="http://cpass.wvu.edu"><span>College of Physical Activity</span> <span>and Sport Sciences<span></a>

 <div id="cpass-menu">
  <div id="social-cpass">
    <!--<span>Follow us:</span> --> 
    <a href="http://www.facebook.com/wvucpass" class="facebook">Facebook us</a>
    <a href="https://twitter.com/WVUCPASS" class="twitter">twitter</a>
    <a href="http://cpass.wvu.edu/news/rss" class="rss">RSS</a>
  </div>
  
  <div class="navWrapper">
    <nav id="nav-cpass" class="nav " role="navigation">
    <!-- example nav - replace ul/li with <r:site_menu /> -->
      <ul >
        <li><a href="#">Future Students</a></li>
        <li><a href="#" class="active">Current Students</a></li>
        <li><a href="#">Faculty & Staff</a></li>
        <li><a href="#">Alumni</a></li>
        <li><a href="http://admissions.wvu.edu/admissions" class="apply">Apply</a></li>
      </ul>
    </nav> <!-- /.nav -->
  </div><!--end navWrapper-->
 </div><!--end #cpass-menu-->
   

  </div>
</header><!--end #masthead_cpass-->