<header id="masthead_cpass">
  <div class="container">
  <div class="logo-short-wrapper">
  <div class="logo-container">
    <a class="logo-cpass" href="http://cpass.wvu.edu"><span>College of Physical Activity</span> <span>and Sport Sciences<span></a>
  </div><!--end logo-container -->

  <div class="short-menu-container">
     <nav role="navigation" class="short-menu">
      <ul class="cpass-short">
        <li><a href="#">Academics</a></li>
        <li><a href="#" class="active">Students</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
      </ul>
      <a class="more" href="#long-menu">More</a>
      </nav><!--end .short-menu-->
    </div><!--end .short-menu-container -->
    </div><!--end .logo-short-wrapper-->

    <div class="social-cpass">
    <!--<span>Follow us:</span> --> 
      <a href="http://www.facebook.com/wvucpass" class="facebook icon-fb"><span>Facebook us</span></a>
      <a href="https://twitter.com/WVUCPASS" class="twitter icon-twit"><span>twitter</span></a>
      <a href="http://www.linkedin.com/groups/WVU-College-Physical-Activity-Sport-7485280" class="linkedin icon-linkdin"><span>LinkedIn</span></a>
      <a href="http://cpass.wvu.edu/news/rss" class="rss icon-rss"><span>RSS</span></a>
    </div><!--end .social-cpass-->

  
   

  </div><!--end .container-->
 
</header><!--end #masthead_cpass-->

