<header id="masthead_cpass">
  <div class="container">
 <a class="logo-cpass" href="http://cpass.wvu.edu"> College of Physical Activity<br/> and Sport Sciences</a>
        <div class="navWrapper">
         <nav id="nav-cpass" class="nav " role="navigation">
          <!-- example nav - replace ul/li with <r:site_menu /> -->
          <ul >
           <li><a href="#">Academic Programs</a></li>
           <li><a href="#" class="active">Students</a></li>
           <li><a href="#">Faculty & Staff</a></li>
           <li><a href="#">Alumni & Development</a></li>
           <li><a href="http://admissions.wvu.edu/admissions" class="apply">Apply</a></li>
          </ul>
        </nav> <!-- /.nav -->
     
      </div>
  </div>
</header><!--end #masthead_cpass-->