<footer id="footer">
	<div id="site-footer" class="footer">    
	 <div class="container">

	 <div id="footer_contact" class="wvu-contact"> 

	 
       <r:editable_region name="global_footer_contact" scope="site" />
     

	 </div><!-- /#footer_contact -->      

	 <div id="footer_contact-links">
	   <ul>
	     <li><a href="mailto:CPASS-WVU@mail.wvu.edu">Contact <span class="caps">CPASS</span></a> <br/></li>
	     <li><a href="http://cpass.wvu.edu/info_request">Request Information</a><br/></li>
	     <li><a href="http://cpass.wvu.edu/faculty_staff">Faculty &#38; Staff</a> <br/></li>
	     <li><a href="mailto:CPASS-Webmaster@mail.wvu.edu">Website Feedback</a> <br/></li>
	  </ul>

	 </div><!--/#footer_contact-links-->


	 <r:partial name="cpass-footer" />
	 <r:partial name="wvu-footer" />


	 

	
    <a href="#page-wrap" class="footer--return">Return to top</a>       
</footer> <!-- /#footer -->
