<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <title><r:page:first_non_blank_attr names="title, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 


   

    <script type="text/javascript" src="http://fast.fonts.net/jsapi/e64c1663-a4f6-4eb4-af95-a29c7c6098b1.js"></script>

    <link href="//code.wvu.edu/stylesheets/global-stylesheet/4.0/stylesheets/global.css" rel="stylesheet">

    <r:include_stylesheet name="styles.min" /> 

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize HTML5 tags. -->

  </head>
  <body class="template-<r:page:template:name /> page-<r:page:id />">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
    <div class="cs-injection"></div>  
    <div id="page-wrap">    
    
    <r:partial name="wvu-masthead"/>
    <r:partial name="cpass-masthead" />
    <r:partial name="header" />
    


    <r:yield />



    <r:partial name="footer"/>
    <r:partial name="cpass-longheadernav"/>

    <r:partial name="layouts/browser-update-org--v1" theme="Code" />

    <!-- Fix IE 8 and below so that media queries get supported -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
  
    <r:include_javascript name="lib/eq.min" />
    <script data-main="../javascripts/main" src="../javascripts/lib/require.min.js"></script>
   


    </div> <!--end #page-wrap-->
  </body>
</html>