////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////

///////////////////////////////
// Sample color palette setup
//$cs-primary: $WVUBlue;
//$cs-secondary: $WVUBlue;
//$cs-scheme: complement;
//$cs-hue-offset: 60;
//$cs-brightness-offest: 40;
//$cs-colorblind:deuteranopia;
//////////////
//$primary: cs-primary();
//$secondary: tint(cs-secondary(), 80) ; // too light, darkening this up a bit.
//$tertiary: cs-tertiary();
//$quadrary: cs-quadrary();
//@include cs-test($primary $secondary $tertiary $quadrary $white $black);
////////////////////////////////
@import 'colors';
@import 'typography-base';   
@import 'typography-college';
@import 'typography-program'; 
@import 'social-cpass';
@import 'bootstrap-variables';





/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
@import "objects/icons";
@import "objects/buttons";
@import "objects/blocks";
@import "objects/lists";
@import "objects/tooltip";
@import "objects/accordion";
@import "objects/tabs";
@import "objects/sections";
@import "objects/article";
@import "objects/comments";
@import "objects/forms";
@import "objects/messages";
@import "objects/form-search";
@import "objects/pagename";
@import "objects/breadcrumbs";
@import "objects/sidescroller";
@import "objects/perfectScrollbar";

//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `normalize`
//////////////////////////////
// @import 'compass/reset';
// @import 'normalize';
