.component {
  
}


.social-cpass {

  a{
 

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include adjust-font-size-to($font-size-med); 
  transition-property: border-radius, border-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  float: right;
  height: ms(3);
  width: ms(3);
  overflow: hidden;
  color:$white;
  margin-right: ms(-4);
  border-radius:100%;
  border:ms(-8) solid $white;
  
  span{ visibility: hidden;}
  text-shadow: 0 ms(-2) ms(-1) darken($vb-DarkNavy, 18);
  box-shadow: 0 ms(-2) ms(-1) darken($vb-DarkNavy, 18);
  &:hover, &:focus{
    border-radius:10%;
    border-color:$quadrary;
    color:$quadrary;
    &:before{
      color:$quadrary;
    }
  }
  &:active{
    border-color:$vb-LightBlue;
    color:$vb-LightBlue;
    &:before{
      color:$quadrary;
    }
  }
  &::before{
    padding-left:ms(-3);
    vertical-align:middle;
    text-align:center;


  }
  &.facebook{
  	@extend .icon-facebook;
  }
  &.twitter{
  	@extend .icon-twitter;
  }
  &.rss{
  	@extend .icon-feed;
  }
  &.instagram{
    @extend .icon-instagram;
  }
  &.linkedin{
    @extend .icon-linkedin2;
  }  

}//end a

 &[data-eq-state="small"] a,
    &[data-eq-state="medium"] a,
    &[data-eq-state="large"] a{
      
    }

    &[data-eq-state="small"] a{
      @include adjust-font-size-to($font-size-small); 
    }

    &[data-eq-state="medium"] a{
     @include adjust-font-size-to($font-size-small); 
    }

    &[data-eq-state="large"] a{
      @include adjust-font-size-to($font-size-med); 
    }


}

// ... at the end of the stylesheet

