.social-cpass a{
  float: right;
  height: ms(3);
  width: ms(3);
  overflow: hidden;
  color:$white;
  padding: 4px;
  @include rhythm(0, 0, $ms-1n, 0, $font-size-large);
  @include adjust-font-size-to($font-size-large);
  span{ visibility: hidden;}
  text-shadow: 0 8px 11px darken($vb-DarkNavy, 18);
  &::before{
  }
  &.facebook{
  	@extend .icon-fb;
  }
  &.twitter{
  	background-position: -13px -285px;
  }
  &.rss{
  	background-position: -13px -353px;
  }
}
