#site-footer{
    font-size:$base-font-size;
    @include rhythm(1, 0, 0, 1, $font-size-med);

    ul li{
      margin:0; padding:0;
    }


  p{
    color:$white;
    @include adjust-font-size-to($font-size-med);
    margin:0; padding:0;

    a:first-child{
      font-size:$font-size-med-2;
    }//end a:first-child
  }//end p

  a{
    color:tint($SecLightGold,30);
    border-bottom:0;
    padding:0;
    &:hover,&:focus{
       background:none;
       border:0;
    }

    br{display:none;}
  }//end a
}//end #site-footer