@mixin m-links(
  $bgColor: $dbg,
  $titleColor: $secondary,
  $linkColor: $white,
  $linkColor--Hover: $quadrary,
  $shadow: $dbg--shadow,
  $light: $dbg--light
){

.m-links{ 
  	.title{
  		color:$titleColor;
  		border-bottom:1px solid $shadow;
      box-shadow: 0 1px 0 0 $light;
  		text-transform:uppercase;
  		@extend .font-Lt;
      border-image:none;
      //@include trailing-border(ms(-7), $ms-2n, $font-size-med-2, solid);
      @include adjust-font-size-to($font-size-med-2);
      @include rhythm($ms-1n, 0, 0, $ms-4n, $font-size-med-2);
  	}//end .title
  	h3{
  		color:$linkColor;
  		text-transform:none;
  		@extend .font-Bd;
      margin:0; padding: 0;
      border:0;
  		a{
        //@include add-noise;
  			color:$linkColor;
        //background-color: set-alpha($WVUBlue,0.3) ;
        width:100%;
        float:left;
        padding: 0;

        @include adjust-font-size-to($font-size-med);
        @include rhythm($ms-5n, $ms-6n, $ms-6n, $ms-2n, $font-size-med);
        //@include trailing-border(ms(-9), $ms-4n, $font-size-med, solid);
        //border-color:set-alpha(lighten($WVUBlue,10),0.3);
        border:0;
  			&:hover, &:focus{
  				color:$linkColor--Hover;
          outline:none;
  			}
        &:active, &:visited{
          color:shade($linkColor, 5);
        }
  		}//end a
  	}//end h3

    .nav-list li{
      margin-bottom:ms(-9) !important;

      a{
        //@include btn( darken($primary,12), set-alpha(darken($coolblack, 10), 0.6));
        border:0;
        @include adjust-font-size-to($font-size-small-2);
        @include rhythm(0, $ms-6n, $ms-6n, 0, $font-size-small-2);
        //@include trailing-border(ms(-9), $ms-4n, $font-size-small-2, solid);
        @extend .font-Roman;
        background:transparent;
        @extend .font-Roman;
        //box-shadow: 0 1px 0 0 tint($coolblack, 5);

       color: $linkColor;

       &:hover, &:focus{
         color:$linkColor--Hover;
         outline:none;
       }
       &:active, &:visited{
         color:shade($linkColor, 5);
       }
      }//end a
    }//end .nav-list li

    /////////////////////////////////////
    //BEGIN ELEMENT QUERIES
    /////////////////////////////////////
    section{
       &[data-eq-state="small"]{
          .title{
            @include adjust-font-size-to($font-size-med);
            @include rhythm($ms-1n, $ms-3n, 0, $ms-4n, $font-size-med-2);
          }//end .title
       }//end small eq
       &[data-eq-state="medium"]{

       }//end medium eq
       &[data-eq-state="large"]{}//end large eq
    }//end section
}//end .m-links
}//end mixin
@include m-links();
