@mixin m-hero($textColor1: $white,
			  $textColor2: $WVUGold,
			  $bgColor: $primary,
			  $shadow: $coolblack
			  ){

	$wvu-hero-image-width: 1720px !default;
	$wvu-hero-image-height: 580px !default;
	$wvu-hero-container-padding: ms(5);

  .wvu-hero {
  	position: relative;
    color: $textColor1;
    //background-color: $wvu-blue;
    //background-image: url($wvu-hero-image);
    background-position: 75% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;  
    -webkit-font-smoothing: antialiased;
  
    img { position: absolute; max-height: 100%; width: auto; max-width: 99999em;
      @include breakpoint($bp-tablet-1) {
        min-width: 100%; 
        min-height: 100%; 
        left: 50%; 
        margin-left: -$wvu-hero-image-width / 2; 
        max-height: 99999em;
      }
      @include breakpoint($bp-desktop2-4) {
        left: auto;
        margin-left: auto;
        width: 100%;
      }
    }//end img
  
    a {
      &:hover { text-shadow: none; }
    }//end a
  
    h1, p { text-shadow: 1px 1px 1px $shadow; }
  
    h1 { 
    	@extend .font-BlkCn; 
    	color: $textColor1;
    	.wvu-hero__title-bottom{
    		color:$textColor2;
    	}
    }//end h1
  
    p { 
    	color:$textColor1;
    	margin-bottom: 2em; 
    	@extend .font-Bd;
    	max-width: 40em; 
    }//end p

  }//end .wvu-hero

  .wvu-hero__container { padding: 3em; 
    @include breakpoint($bp-desktop2-1) {
      padding: $wvu-hero-container-padding;
    }
  }//end .wvu-hero__container

  .wvu-hero__copy { margin-bottom: 3em; font-weight: bold;
  	
     	position:relative;
     	z-index: 100;
     @include breakpoint($bp-tablet-1) { 
     	max-width: 40%; 
     	position:relative;
     	z-index: 100;
     }
  }//end .wvu-hero__text

  .wvu-hero__photo { overflow: hidden; 
    img { 
    	min-height: 0; 
    	min-width: 0; 
    	left: auto; 
    	margin-left: auto; 
    	position: relative; 
    	margin-right: 0; max-width: 100%;


    	   max-width: 100%;
        width:100%;
        position:absolute;
        z-index:0;
        top:0;
        left:0;
      @include breakpoint($bp-tablet-1) {
        max-width: 560px;
      }
      @include breakpoint($bp-desktop1-1) {
        max-width: 100%;
        width:100%;
        position:absolute;
        z-index:0;
        top:0;
        left:0;
      }
    }//end img
  }//end .wvu-hero__photo

}//end m-hero mixin

@mixin shout-length($shout-length: 'medium') {
  @if $shout-length == 'medium' {
    @if $wvu-hero-title-typeface == $shout {
      .wvu-hero {
        h1 { font-size: $medium-shout-font-size; }
      }
      .wvu-hero__container {
        padding: 4em 3em;
        @include mq($bp-jumbo) {
          padding: 4em 0;
        }
      }
    }
  }
  @else if $shout-length == 'long' {
    @if $wvu-hero-title-typeface == $shout {
      .wvu-hero {
        h1 { font-size: $long-shout-font-size; }
      }
    }
  }
}

.m-hero--small{
	@include m-hero
	
}//end m-hero--small
