<section class="b-cta__events" data-eq-pts="small:150, medium:210, large:400, x-large:550">
      <h2 class="title">Events </h2>
      
      <ul class="b-wvuCalendar">
        <script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=5&category=62-0&ihc=y&expire=N&adpid=21&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
      </ul>


      <a href="http://cal.wvu.edu/CalendarNOW.aspx?fromdate=5%2f1%2f2016&todate=5%2f31%2f2016&display=Month" class="b-cta_events__calLink" target="_blank">View full calendar</a>



</section><!--end .events-->
