<section class="b-cta__events">
  <dl>
    <dt class="title">Upcoming Events</dt>
    <dd class="calEvent">
      <span class="calEvent__date">
      	<span class="calEvent__month">February</span>
      	<span class="calEvent__day">20</span>
      </span><!--end calEvent__date-->	
      <span class="calEvent__info">
        <span class="calEvent__title">WVU Academy of Distinguished Alumni</span>
        <span class="calEvent__location">Evansdale Campus - Erickson Alumni Center</span>
        <span class="calEvent__startTime">12:00 p.m.</span>
        <a class="btn calEvent__link">More information</a>
       </span><!--end calEvent__info-->
    </dd><!--end calEvent-->
    <dd class="calEvent">
      <span class="calEvent__date">
      	<span class="calEvent__month">March</span>
      	<span class="calEvent__day">30</span>
      </span><!--end calEvent__date-->	
      <span class="calEvent__info">
        <span class="calEvent__title">WV Physical Activity Symposium</span>
        <span class="calEvent__location">Evansdale Campus - Erickson Alumni Center</span>
        <span class="calEvent__startTime">12:00 p.m.</span>
        <a class="btn calEvent__link">More information</a>
       </span><!--end calEvent__info-->
    </dd><!--end calEvent-->
    <dd class="calEvent">
      <span class="calEvent__date">
      	<span class="calEvent__month">April</span>
      	<span class="calEvent__day">23</span>
      </span><!--end calEvent__date-->	
      <span class="calEvent__info">
        <span class="calEvent__title">CPASS Spring Visiting Committee</span>
        <span class="calEvent__location">Evansdale Campus - Health and Education Building</span>
        <span class="calEvent__startTime">12:00 p.m.</span>
        <a class="btn calEvent__link">More information</a>
       </span><!--end calEvent__info-->
    </dd><!--end calEvent-->
    <dd class="calEvent">
      <span class="calEvent__date">
      	<span class="calEvent__month">May</span>
      	<span class="calEvent__day">17</span>
      </span><!--end calEvent__date-->	
      <span class="calEvent__info">
        <span class="calEvent__title">CPASS Commencement</span>
        <span class="calEvent__location">Evansdale Campus - College of Creative Arts - Auditorium</span>
        <span class="calEvent__startTime">8:00 p.m.</span>
        <a class="btn calEvent__link">More information</a>
       </span><!--end calEvent__info-->
    </dd><!--end calEvent-->
  </dl>
</section><!--end .events-->