<section class="b-cta__news" data-eq-pts="small:150, medium:210, large:400, x-large:550">
  <h2 class="title">Latest News</h2>
  <r:editable_region name="LatestNews" />
  <!--<ul>
    <li><a href="#">PETE grad earns national credentials</a></li>
    <li><a href="#">Morgantown area school integrates stationary bikes to improve learning</a></li>
    <li><a href="#">PETE grad expands PE program at area elementary school</a></li>
    <li><a href="#">SM students connect with the industry through Sport Governance class</a></li>
    <li><a href="#">ACE grad lands prestigious internship with USOC</a></li>
  </ul>-->  
</section>