<header id="masthead_cpass">
  <div class="container">
  <div class="logo-short-wrapper">
  <div class="logo-container">
    <r:partial name="../patterns/wvu-masthead__logo" /> 
  </div><!--end logo-container -->

  <div class="short-menu-container">
     <nav role="navigation" class="short-menu">
      <ul class="cpass-short">
        <li><a href="#">Academics</a></li>
        <li><a href="#" class="active">Students</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
      </ul>
      <a class="more" href="#long-menu">More</a>
      </nav><!--end .short-menu-->
    </div><!--end .short-menu-container -->
  </div><!--end .logo-short-wrapper-->

   

  <r:partial name="../components/b-social" />
   

  </div><!--end .container-->
 
</header><!--end #masthead_cpass-->

