<div class="s-spotlights">
  <ul class="container">
    <li class="s-spotlights__card">
      <div class="s-spotlights__image">
        <r:editable_region name="wvu-triptych__image-1" />
      </div><!--end s-spotlights__image-->
      <div class="s-spotlights__copy">
        <h2><r:editable_region name="wvu-triptych__header-1" type="simple" /></h2>
        <p><r:editable_region name="wvu-triptych__description-1" type="simple" /></p>
      </div><!--end s-spotlights__copy-->
      <div class="s-spotlights__btn"><r:editable_region name="wvu-triptych__button-1" /></div>
    </li><!--end s-spotlights__card-->
    <li class="s-spotlights__card">
      <div class="s-spotlights__image">
        <r:editable_region name="wvu-triptych__image-2" />
      </div><!--end s-spotlights__image-->
      <div class="s-spotlights__copy">
        <h2><r:editable_region name="wvu-triptych__header-2" type="simple" /></h2>
        <p><r:editable_region name="wvu-triptych__description-2" type="simple" /></p>
      </div><!--end s-spotlights__copy-->
      <div class="s-spotlights__btn"><r:editable_region name="wvu-triptych__button-2" /></div>
    </li><!--end s-spotlights__card-->
    <li class="s-spotlights__card">
      <div class="s-spotlights__image">
        <r:editable_region name="wvu-triptych__image-3" />
      </div><!--end s-spotlights__image-->
      <div class="s-spotlights__copy">
        <h2><r:editable_region name="wvu-triptych__header-3" type="simple" /></h2>
        <p><r:editable_region name="wvu-triptych__description-3" type="simple" /></p>
      </div><!--end s-spotlights__copy-->
      <div class="s-spotlights__btn"><r:editable_region name="wvu-triptych__button-3" /></div>
    </li><!--end s-spotlights__card-->
  </ul>
</div><!--end s-spotlights-->
