<section id="postfix" class="default">
  <div class="container">
   <div class="sidescroll-nextprev snapscroll">
    <div id="feature-thumbs" class="overthrow sidescroll">
      <ul>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/technics-q-c-287-177-7.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/sports-q-c-287-177-8.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/animals-q-c-287-177-7.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/city-q-c-287-177-5.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/technics-q-c-287-177-8.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/sports-q-c-287-177-2.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/city-q-c-287-177-3.jpg" /></a></li>
        <li><a href="#"><img alt="Give To CPASS" src="http://lorempixel.com/output/sports-q-c-287-177-7.jpg" /></a></li>
      </ul>
    </div><!--end #feature-thumbs-->
   </div><!--end .sidescroll-nextprev-->
  </div><!--end .container -->
</section><!--end #postfix-->

