<section id="postfix" class="default">
  <div class="container">
    <div id="feature-thumbs">
      <ul>
        <li> <a href="https://www.mountaineerconnection.com/CPASS"><img alt="Give To CPASS" src="http://assets.slate.wvu.edu/resources/643/1336404251.png" /></a></li>
        <li> <a href="http://www.astateofminds.com"><img alt="A State of Minds" src="http://assets.slate.wvu.edu/resources/643/1338923594.png" /></a> </li>
        <li><a href="http://newhome.cpass.wvu.edu"><img alt="CPASS Has a new home" src="http://assets.slate.wvu.edu/resources/643/1410194766.png" /></a></li>
        <li> <a href="http://cpass.wvu.edu/distance_education"><img alt="CPASS Distance Learning" src="http://assets.slate.wvu.edu/resources/643/1336404252.png" /></a><li>
        <li> <a href="http://cpass.strategicplan.wvu.edu"><img alt="CPASS Strategic Plan" src="http://assets.slate.wvu.edu/resources/643/1336404250.png" /></a> </li>
        <li> <a href="http://cpass.wvu.edu/alumni/perspective_newsletter"><img alt="View the latest issue of perspective" src="http://assets.slate.wvu.edu/resources/643/1355516074.png" /></a> </li>
      </ul>
    </div><!--end #feature-thumbs-->
  </div><!--end .container -->
</section><!--end #postfix-->