@font-face{
font-family:"Neue Helvetica W02_n3";
src:url("../public/fonts/FastFonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W02";
src:url("../public/fonts/FastFonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
src:url("../public/fonts/FastFonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"),url("../public/fonts/FastFonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"),url("../public/fonts/FastFonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"),url("../public/fonts/FastFonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W02_n4";
src:url("../public/fonts/FastFonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W02";
src:url("../public/fonts/FastFonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
src:url("../public/fonts/FastFonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/b4cd926c-1a31-4785-b261-1db1a68c521e.woff2") format("woff2"),url("../public/fonts/FastFonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"),url("../public/fonts/FastFonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"),url("Fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W02_i4";
src:url("../public/fonts/FastFonts/97787ad0-77de-4ad8-822f-7deba0c632ee.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W02";
src:url("../public/fonts/FastFonts/97787ad0-77de-4ad8-822f-7deba0c632ee.eot?#iefix");
src:url("../public/fonts/FastFonts/97787ad0-77de-4ad8-822f-7deba0c632ee.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/012263ed-c698-4d70-8e2b-8fa69531ecd3.woff2") format("woff2"),url("../public/fonts/FastFonts/47a4e844-a7b2-4195-a8dd-8b281e43aa83.woff") format("woff"),url("../public/fonts/FastFonts/f1ebe4f0-1d5e-4805-b348-bd02a294a14d.ttf") format("truetype"),url("../public/fonts/FastFonts/88ec594a-6ee9-43d8-80c2-60e869843f5e.svg#88ec594a-6ee9-43d8-80c2-60e869843f5e") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"Neue Helvetica W02_n5";
src:url("../public/fonts/FastFonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W02";
src:url("../public/fonts/FastFonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
src:url("../public/fonts/FastFonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/2a5cf81d-ffbe-4c76-8982-270592fb36b0.woff2") format("woff2"),url("../public/fonts/FastFonts/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff") format("woff"),url("../public/fonts/FastFonts/db5f9ba6-05a4-433a-9461-0a6f257a0c3a.ttf") format("truetype"),url("../public/fonts/FastFonts/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n2";
src:url("../public/fonts/FastFonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("../public/fonts/FastFonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix");
src:url("../public/fonts/FastFonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/b37ddbd9-24db-4864-9095-5084a5679dd2.woff2") format("woff2"),url("../public/fonts/FastFonts/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("../public/fonts/FastFonts/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("../public/fonts/FastFonts/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n8";
src:url("../public/fonts/FastFonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("../public/fonts/FastFonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("../public/fonts/FastFonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/ab23c239-fb66-406e-bce6-f0f260f5a217.woff2") format("woff2"),url("../public/fonts/FastFonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("../public/fonts/FastFonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("../public/fonts/FastFonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
font-weight: 800;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W02_n9";
src:url("../public/fonts/FastFonts/2577307a-8b8e-4e65-bfec-84b103ddbca9.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W02";
src:url("../public/fonts/FastFonts/2577307a-8b8e-4e65-bfec-84b103ddbca9.eot?#iefix");
src:url("../public/fonts/FastFonts/2577307a-8b8e-4e65-bfec-84b103ddbca9.eot?#iefix") format("eot"),url("../public/fonts/FastFonts/b7d96cc2-4c70-41eb-80dd-686deba19552.woff2") format("woff2"),url("../public/fonts/FastFonts/ae577454-d515-443e-a862-ba1c3be91fa1.woff") format("woff"),url("../public/fonts/FastFonts/232d8cf9-7040-4cb3-acc7-b5e83fa3f3f7.ttf") format("truetype"),url("../public/fonts/FastFonts/ea0105b2-f20e-43ab-bd23-fe43f20cc4e8.svg#ea0105b2-f20e-43ab-bd23-fe43f20cc4e8") format("svg");
font-weight: 900;
font-style: normal;
}
