@mixin b-contact__links(
    $btnColor: $quadrary,
    $shadow: $primary--shadow,
    $btnText: $white,
    $light: $primary--light
){

.b-contact__links{

  li{
    float:left;
    width:100%;
    &:last-child a{ border-bottom:0; box-shadow: none;}
  }

  ul li a{
    float:left;
    width:100%;
    background-image:none !important;

    color:$btnText;
    @include adjust-font-size-to($font-size-med);
    @include rhythm(0, $ms-5n, $ms-5n, 0, $font-size-med);
    border-bottom: 1px solid $shadow;
    box-shadow: 0 1px 0 0 $light;
    &:hover, &:focus{
      outline:0;
      color:lighten($btnColor, 10);
      text-docration: underline;
    }
    &:active{ color: darken($btnColor, 5);}
    &:after{ 
      background-image:none !important;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      float:left;
      margin-right: ms(-1);
      color:$btnColor;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    //@include rhythm($ms-8n, 0, 0, $ms-8n, $font-size-small-2);
    
    &.contact:after{ content: '\e60e'; }
    &.request-info:after{ content: '\e6aa'; }
    &.faculty:after{ content: '\e651'; }
    &.feedback:after{ content: '\e60a'; }




    //&.contact{@include btn_icon($btnColor, $shadow, $btnText, "\e60e", "false"); }
    //&.request-info{@include btn_icon($btnColor, $shadow, $btnText, "\e6aa", "false");}
    //&.faculty{@include btn_icon($btnColor, $shadow, $btnText, "\e651", "false");}
    //&.feedback{@include btn_icon($btnColor, $shadow, $btnText, "\e60a", "false");}
    //&.btn-arrow{@include btn_icon($btnColor, $shadow, $btnText);}

    &.contact.min{@include btn_icon($btnColor, $shadow, $btnText, "\e60e", "false");}
    &.request-info.min{@include btn_icon($btnColor, $shadow, $btnText, "\e6aa", "false");}
    &.faculty.min{@include btn_icon($btnColor,$shadow, $btnText, "\e651","false");}
    &.feedback.min{@include btn_icon($btnColor, $shadow, $btnText, "\e60a", "false");}
    &.btn-arrow.min{@include btn_icon($btnColor, $shadow, $btnText, "\e6bd", "false");}


  }

  &[data-eq-state="small"]{ //0px
    .nav-list li a{
      @include adjust-font-size-to($font-size-small-2);
      @extend .font-Bd;
      &:after{padding-top:ms(-7);}
    }//end a
	}//end small
  &[data-eq-state="medium"]{ //215px
    .nav-list li a{
      @include adjust-font-size-to($font-size-med);
      //margin: ms(-7) 0;
      @extend .font-Bd;
      &:after{padding-top:ms(-11);}
    }//end a
	}//end medium
  &[data-eq-state="large"]{ //250px
    .nav-list li a{
      @include adjust-font-size-to($font-size-med);
      //margin: ms(-8) 0;
      @extend .font-Bd;
      &:after{padding-top:ms(-9);}
    }//end a
	}//end large
	&[data-eq-state="x-large"]{ //300px
		.nav-list li a{
      @include adjust-font-size-to($font-size-med-2);
      //margin: ms(-10) 0;
      @extend .font-BlkCn;
      &:after{padding-top:ms(-6);}
    }//end a
	}//end x-large

}//end #footer_contact-links
}@include b-contact__links
