.b-footer__return, .b-footer__return:active, .b-footer__return:visited{
  width:100%;
  float:left;
  color:tint($dbg, 40);
  text-shadow: 0 1px 0 $dbg--shadow;
  //@extend .white-noise;
  background-color:$dbg;
  text-transform:uppercase;
  font-family:$BdCn;
  font-weight:800;
  letter-spacing:ms(-10);
  @include adjust-font-size-to($font-size-med);
  @include rhythm(0, $ms-2n, $ms-4n, 0, $font-size-med);
  text-align:center;
  box-shadow:$dbg--shadow 0 1px 1px 0 inset;

  &:hover,&:focus{
    color:lighten($WVUGold, 10);
  }
}//end .footer--return
