
@mixin b-social( 
  $bgColor: $dbg,
  $linkColor: $white,
  $hoverColor: $quadrary,
  $textColor:tint($dbg, 40),
  $accentColor: $WarmGrey3,
  $shadow: $primary--shadow,
  $light: $primary--light){ 

.b-social{

 

  a{
 

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: ms(2);
  width: ms(2);
  @include adjust-font-size-to($font-size-small); 
  transition-property: border-radius, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  float: right;
  overflow: hidden;
  color:$linkColor;
  margin-right: ms(-4);
  border-radius:100%;
  border:ms(-8) solid $white;
  
  span{ visibility: hidden;}
  text-shadow: 0 1px 1px $shadow;
  box-shadow: 0 1px 1px 0 $shadow;
  &:hover, &:focus{
    border-radius:10%;
    border-color:$hoverColor;
    color:$hoverColor;
    &:before{
      color:$hoverColor;
    }
  }
  &:active{
    border-color:lighten($hoverColor,10);
    color:lighten($hoverColor,10);
    &:before{
      color:lighten($hoverColor,10);
    }
  }
  &::before{
    padding-left:ms(-4);
    vertical-align:middle;
    text-align:center;
  }

 


  &.facebook{
  	@extend .icon-facebook;
  }
  &.twitter{
  	@extend .icon-twitter;
  }
  &.rss{
  	@extend .icon-feed;
  }
  &.instagram{
    @extend .icon-instagram;
  }
  &.linkedin{
    @extend .icon-linkedin2;
  } 
  &.email{
    @extend .icon-envelope;
  } 
  &.flickr{
    @extend .icon-flickr;
  }

}//end a

 &[data-eq-state="small"] a,
    &[data-eq-state="medium"] a,
    &[data-eq-state="large"] a{
      
    }

    &[data-eq-state="small"] a{
      @include adjust-font-size-to($font-size-small); 
      height: ms(2);
      width: ms(2);
      &:before{padding-left:6px;}

    }

    &[data-eq-state="medium"] a{
      padding-top:2px;
     @include adjust-font-size-to($font-size-small-2); 
     &:before{padding-left:8px; }

    }

    &[data-eq-state="large"] a{
      @include adjust-font-size-to($font-size-med);       
      height: ms(3);
      width: ms(3);
      &:after{
        content:"Connect with CPASS:";
        text-transform:uppercase;
        float:right;
        @extend .font-LtCn;
        color:$accentColor;
        @include adjust-font-size-to($font-size-small-2);
        @include rhythm(0, $ms-4n, $ms-4n, 0, $font-size-small-2); 
        padding-right:ms(-4);
      }
    }

    &[data-eq-state="small"]:after, &[data-eq-state="medium"]:after{
      display:none;
    }


}//end .b-social
}@include b-social();


nav .b-social a{

  padding:0; 
  margin:0;
  height: ms(3);
  width: ms(3);
  text-align:center;
  margin-right: ms(-4);
  @include adjust-font-size-to($font-size-med); 
  background:transparent;



  &:hover{
  background:transparent;
  }
}//end nav .b-social

.b-social--wrapper{
  width:100%;
  height:ms(5);
  background: $dbg;
  @include rhythm($ms-1n, $ms-3n, $ms-1n, $ms-1n, $font-size-med-2);
  box-shadow: 0 1px  1px 0 $dbg--shadow inset;
  border-top: ms(-10) solid shade($coolblack,5);

  .b-social:after{ 
   color:tint($black, 40);
   text-shadow:0 1px 0 $dbg--shadow; 
   float:left;
   content:"Connect with CPASS";
   @include adjust-font-size-to($font-size-med);
   @include rhythm(0, $ms-4n, $ms-4n, 0, $font-size-med); 
   padding-left:0.618em;
    }
  .b-social a{
    box-shadow: 0 ms(-6) ms(-4) set-alpha(darken($black,20), 0.6);
    text-shadow: 0 ms(-6) ms(-4) set-alpha(darken($black,20), 0.6);
    float:left;
    color:tint($black, 40);
    border-color:tint($black, 40);
    &:hover,&:focus{
      border-color:$quadrary;
    }
  }//end a
}//end b-social--wrapper

.b-social--share{
  display:none;
 @include breakpoint($bp-desktop1-1){
  display:block;
  position:fixed;
  z-index:10000;
  right:0;
  max-width:ms(4);
  width:6.18%;
  top:61.8%;
  background:set-alpha($dbg, 0.773) url(../images/noise.png) repeat;
  border-radius: ms(-4);
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  text-align:center;
  min-height: ms(9);
  border:ms(-11) solid $dbg--light;
  border-right:0;



  &:before{
    content: "SHARE";
    color:tint($dbg, 40);
    font-family:$LtCn;
    font-weight:300;
    @include adjust-font-size-to($font-size-small-2); 
  }

  a{
    margin-top:ms(-4);
    text-shadow: 0 ms(-2) ms(-1) darken($dbg, 2);
    box-shadow: 0 ms(-9)  ms(-11) ms(-11) lighten($dbg, 2);
  }
 }//end bp-desktop1-1
}//end .b-social--share
