@include breakpoint($bp-tablet-1){
  @include add-grid(8);
  //@include background-grid;

   


  body{

  	.container, .wvu-masthead-container{
  		max-width:$bp-tablet-2;
  		//width: ms(16);
  		@include breakpoint($bp-tablet-2){
  			max-width:$bp-desktop1-1;
  		}

  	}
  	.wvu-masthead-wrapper{


	  .wvu-masthead{

		.wvu-masthead-container{
			ul{display:block;}

		}
	  }//end /wvu-masthead
	}//end .wvu-masthead-wrapper

	header{
		&#masthead_cpass{
			.container{
				.logo-short-wrapper{
					@include grid-span(4,1);

				 .logo-container{
				  float:left;
				  .logo-cpass{
				    @include rhythm(0, $ms-3n, $ms-1n, 0, $font-size-med);
				    @include adjust-font-size-to($font-size-med);
				    //span{display:inline;}
				  }
				 }//end logo-container
       }//end .logo-short-wrapper


				.social-cpass{
				  @include grid-span(4,5);

				  //@include rhythm(0, 0, $ms-1n, 0, $font-size-med);
				  //@include adjust-font-size-to($font-size-med);
				}

        @include breakpoint($bp-tablet-2){
          .logo-container{
            border-right: ms(-7) solid darken($vb-DarkNavy, 12);
            box-shadow: 1px 0 0px darken($vb-DarkNavy,2 );
            padding-right: ms(-2);
            margin-right: ms(-2);
            

            .logo-cpass span{ display:block;}
          }

          .short-menu-container{
            @include grid-span(5,1);
            @include rhythm(0, $ms-3n, $ms-4n, 0, $font-size-med);
            display:block;
  				  ul{ display:none;}
  				  float:left;


  				}//end .short-menu-container

          .social-cpass{
            @include grid-span(3,6);
          }
        }// end $bp-tablet-2





			}//end #college-masthead.container

		}//end #college-masthead

		.container{
			a.site-logo{}
			nav.nav.primary{}
		}//end header.container
	}//end header

	section#prefix{
		.container{

		}//end section#prefix.container
	}//end section#prefix

	section#core{
		.container{
			#main{
				article{
					h1{
						text-align:left;
        				@include adjust-font-size-to($font-size-xlarge-2);
        				@include rhythm($ms-2, 0, 0, $ms-1n, $font-size-xlarge-2);
					}
					h2{
						@include adjust-font-size-to($font-size-large-2);
    					@include rhythm($ms-6, 0, $ms-7n, $ms-1n, $font-size-large-2);
					}
					h3{
						@include adjust-font-size-to($font-size-med-2);
    					@include rhythm($ms-5, 0, 0, $ms-1n, $font-size-med-2);
					}
					h4{
						@include adjust-font-size-to($font-size-med-2);
    					@include rhythm($ms-4, 0, 0, $ms-1n, $font-size-med-2);
					}
					h5 {
					    @include adjust-font-size-to($font-size-med-2);
					    @include rhythm($ms-3, 0, 0, $ms-1n,$font-size-med-2);
					}
					h6 {
					    @include adjust-font-size-to($font-size-med);
					    @include rhythm($ms-2, 0, 0, $ms-1n, $font-size-med);
					}
				}//end #main article
			}//end #main
			aside.sidebar{

			}//end aside.sidebar
		}//end section#core.container
	}//end section#core

	section#postfix{
		.container{

		}//end section#postfix .container
	}//end section#postfix

	footer{
		.footer{
			padding:0;
		}
		#college.footer{
			.container{
				#footer_contact{}//end #footer_contact
				#footer_feature{}//end #footer_feature
			}//end #college.footer .container
		}//end #colllege.footer

		.wvu-footer-wrapper{

		#wvu-footer{
			.container{
				margin:0 auto;

			    //max-width:$bp-desktop1-1;
  				//width: ms(16);
  				@include breakpoint($bp-tablet-2){
  					//max-width:860px;
  				}

				.wvu-credits{}//end .wvu-credits
				.wvu-credits{}//end .wvu-credits
				.wvu-icons{}//end .wvu-icons

			}//end #wvu.footer .container
		}//end #wvu.footer

	}

	}//end footer.footer

	.long-menu{
		@include breakpoint($bp-tablet-2){
		  display:none;
		  .wrapper{
		  	top:99px;
		  	//max-height:79em;
		  	nav{
		  	  column-count:2;
		  	  column-gap:ms(-1);
		  	}
		  	section{
		  		display:inline-block;
		  		width:100%;
		  		//float:right;
		  		border-bottom: ms(-3) solid darken($vb-Charcoal, 5);

		  	}
		  	.searchbar{
		  		@include grid-span(8,1);
		  		clear:both;
		  	}

		  }//end .wrapper
		}//end breakpoint
	}//end .long-menu
}//end body

}
@import 'masthead-cpass';
