@include breakpoint($bp-desktop2-1){
  @include add-grid(16);
  @include add-gutter(1/3);


  body{

  	#page-wrap{
  		font-size:20px;

  	}

  	.container, .wvu-masthead-container{
  		padding:0 1.25%;
  		max-width:2000px;
  		width: 1170px;
  		@include breakpoint($bp-desktop2-3){
  			width:1300px;
  		}
  		@include breakpoint($bp-desktop2-6){
  			width:1500px;
  		}
  		@include breakpoint($bp-desktop2-7){
  			width:1600px;
  		}
  		@include breakpoint($bp-desktop2-8){
  			width:1700px;
  		}
  	}

  	.wvu-masthead-wrapper{
  		padding: 0 2%;
	  .wvu-masthead{

		.wvu-masthead-container{
			border-bottom-left-radius: ms(0);
			border-bottom-right-radius: ms(0);

			//@include grid-span(16);

		}
	  }//end /wvu-masthead
	}//end /wvu-masthead-wrapper

	header{
		#college-masthead{
			.container{

			}//end #college-masthead.container
		}//end #college-masthead

		.container{
			a.site-logo{}
			nav.nav.primary{}
		}//end header.container
	}//end header

	section#prefix{
		.container{

		}//end section#prefix.container
	}//end section#prefix

	section#core{
		.container{
			#main{
				@include grid-span(12, 1);
				article{
				  p{
        			color:tint($black, 5);

        			&.kicker{
        				@include adjust-font-size-to($font-size-large);
    					@include rhythm($ms-2,0, 0, $ms-1, $font-size-large);
    					color:$vb-Charcoal;
        			}
				  }
				  h1{
				  	@include adjust-font-size-to($font-size-xxlarge);
        			@include rhythm($ms-4, 0, 0, $ms-3, $font-size-xxlarge);
				  }
				  h2{
				  	@include adjust-font-size-to($font-size-xlarge);
    				@include rhythm($ms-6, 0, $ms-5n, $ms-1n, $font-size-xlarge);
				  }
				  h3{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-5, 0, 0, $ms-1n, $font-size-large);
				  }
				  h4{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-4, 0, 0, $ms-1n, $font-size-large);
				  }
				  h5 {
				    @include adjust-font-size-to($font-size-large);
				    @include rhythm($ms-3, 0, 0, $ms-1n,$font-size-large);
				  }
				  h6 {
				    @include adjust-font-size-to($font-size-med-2);
				    @include rhythm($ms-2, 0, 0, $ms-1n, $font-size-med-2);
				  }

				}//end #main article
			}//end #main
			aside.sidebar{
				@include grid-span(4, 13)
			}//end aside.sidebar
		}//end section#core.container
	}//end section#core

	section#postfix{
		.container{

		}//end section#postfix .container
	}//end section#postfix

	footer{
		#site-footer{
            .container{

              #footer_contact{
              	@include grid-span(8,1);
              }
              #footer_contact-links{
              	@include grid-span(4,9);
              	@include adjust-font-size-to($font-size-med);
              }
              #footer_feature{
              	@include grid-span(4,13);
              }

              @include breakpoint($bp-desktop2-5){
              	#footer_contact{
              		@include grid-span(9,1);
              	}
              	#footer_contact-links{
              		@include grid-span(4,10);
              	}
              	#footer_feature{
              		@include grid-span(3,14);
              	}
              }//end $bp-desktop2-5

              @include breakpoint($bp-desktop2-6){
              	#footer_contact{
              		@include grid-span(7,1);
              	}
              	#footer_contact-links{
              		@include grid-span(3,8);
              	}
              	#footer_feature{
              		@include grid-span(6,11);
              	}
              }//end $bp-desktop2-5
            }//end .container
		}//end #site-footer

		#cpass-footer{

			.academics{
				@include grid-span(4, 1);
			}
			.students{
				@include grid-span(4, 5);

         .students--future{
           @include grid-span(8,1);
         }
         .students--current{
           @include grid-span(8,9);
         }
			}
			.alumni{
				@include grid-span(4, 9);

         .alumni--main{
           @include grid-span(8, 1);
         }

         .alumni--giving{
           @include grid-span(8, 9);

         }
			}
			.community{
				@include grid-span(4, 13);

				.community--lap, .community--nysp{
					@include grid-span(8,1);
				}

				.community--fit, .community--icpe{
					@include grid-span(8,9);
				}
				.community--nysp{
					clear:both;
				}

			}//end .community
		}// end #cpass-footer

		.wvu-footer-wrapper{
		#wvu-footer{
			.container{
				border-top-left-radius: ms(0) ;
			    border-top-right-radius: ms(0);
  				max-width:2000px;
  				width: 1170px;

  				@include breakpoint($bp-desktop2-3){
  					width:1300px;
  				}
  				@include breakpoint($bp-desktop2-6){
  					width:1500px;
  				}
  				@include breakpoint($bp-desktop2-7){
  					width:1600px;
  				}
  				@include breakpoint($bp-desktop2-8){
  					width: 1700px;
  				}
				.wvu-credits{}//end .wvu-credits
				.wvu-icons{}//end .wvu-icons

			}//end #wvu.footer .container
		}//end #wvu.footer
		}

	}//end footer.footer

	.long-menu{
		//@include breakpoint($bp-tablet-2){
		font-size:16px;
		  .wrapper{
		  	top: ms(8);
		  	//max-height:67em;
		  	nav{
		  	  column-count:4;
		  	  column-gap:ms(-1);
		  	}
		  	section{
		  		border-bottom:0;

		  	}
		  	.searchbar{
		  		//@include grid-span(16,1);
		  		//clear:both;
		  	}

		  }//end .wrapper
		//}//end breakpoint
	}//end .long-menu
}//end body
}//end breakpoint
