@include breakpoint($bp-desktop2){
  $grids: 16 ;
  $gutters: 1/3;
  //@include background-grid;

  body{
  	.container, .wvu-masthead-container{
  		padding:0 1.25%;
  		max-width:2000px;
  	}  	
	.wvu-masthead{
		.wvu-masthead-container{

		}
	}//end /wvu-masthead

	header{
		#college-masthead{
			.container{

			}//end #college-masthead.container
		}//end #college-masthead

		.container{
			a.site-logo{}
			nav.nav.primary{}
		}//end header.container
	}//end header

	section#prefix{
		.container{

		}//end section#prefix.container
	}//end section#prefix

	section#core{
		.container{
			#main{
				@include grid-span(12, 1);
				article{
				  p{
        			color:tint($black, 5);

        			&.kicker{
        				@include adjust-font-size-to($font-size-large);
    					@include rhythm($ms-2,0, 0, $ms-1, $font-size-large);
    					color:$vb-Charcoal;
        			}
				  }
				  h1{
				  	@include adjust-font-size-to($font-size-xxlarge);
        			@include rhythm($ms-4, 0, 0, $ms-3, $font-size-xxlarge);
				  }
				  h2{
				  	@include adjust-font-size-to($font-size-xlarge);
    				@include rhythm($ms-6, 0, $ms-5n, $ms-1n, $font-size-xlarge);
				  }
				  h3{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-5, 0, 0, $ms-1n, $font-size-large);
				  }
				  h4{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-4, 0, 0, $ms-1n, $font-size-large);
				  }
				  h5 {
				    @include adjust-font-size-to($font-size-large);
				    @include rhythm($ms-3, 0, 0, $ms-1n,$font-size-large);
				  }
				  h6 {
				    @include adjust-font-size-to($font-size-med-2);
				    @include rhythm($ms-2, 0, 0, $ms-1n, $font-size-med-2);
				  }
					
				}//end #main article
			}//end #main
			aside.sidebar{
				@include grid-span(4, 13)
			}//end aside.sidebar
		}//end section#core.container
	}//end section#core	

	section#postfix{
		.container{

		}//end section#postfix .container
	}//end section#postfix

	footer{
		
		#college.footer{
			.container{
				#footer_contact{}//end #footer_contact
				#footer_feature{}//end #footer_feature
			}//end #college.footer .container
		}//end #colllege.footer

		#wvu.footer{
			.container{
				.wvu-credits{}//end .wvu-credits
				.wvu-icons{}//end .wvu-icons

			}//end #wvu.footer .container
		}//end #wvu.footer
		
	}//end footer.footer
}//end body
}//end breakpoint