@include breakpoint($bp-desktop1-1){
  @include add-grid(12);
  body{
  	.container, .wvu-masthead-container{
  		max-width:$bp-desktop1-2;
  		//width: ms(17);

  		@include breakpoint($bp-desktop1-2){
  			max-width:$bp-desktop1-3;
  		}
  		@include breakpoint($bp-desktop1-3){
  			max-width:$bp-desktop1-4;
  		}
  		@include breakpoint($bp-desktop1-4){
  			max-width:$bp-desktop2-1;
  		}
  	}//end .container

  	.wvu-masthead-wrapper{

	  .wvu-masthead{
		.wvu-masthead-container{


		}
	  }//end /wvu-masthead
	}

	header{
		&#masthead_cpass{
			.container{
			  @include breakpoint($bp-desktop1-2){
			  	.logo-short-wrapper{
			  	  @include grid-span(9,1);
			  	}
  		    .short-menu-container{
  		      ul{
  		        display:block;
  		   	    }
  		   	}//end .short-menu-container
  		   	    .social-cpass{
  		   	      @include grid-span(3,10);
  		   	    }
  		  }//end breakpoint

			}//end #college-masthead.container
		}//end #college-masthead

		.container{
			a.site-logo{}
			nav.nav.primary{}
		}//end header.container
	}//end header

	section#prefix{
		.container{

		}//end section#prefix.container
	}//end section#prefix

	section#core{
		.container{
			#main{
				@include grid-span(9, 1);
				article{
				  p{
				  	@include adjust-font-size-to($font-size-med-2);
        			@include rhythm($ms-1, 0, 0, $ms-3n, $font-size-med-2);
        			color:tint($black, 20);
				  }
				  h1{
				  	@include adjust-font-size-to($font-size-xlarge-2);
        			@include rhythm($ms-3, 0, 0, $ms-3, $font-size-xxlarge);
				  }
				  h2{
				  	@include adjust-font-size-to($font-size-xlarge);
    				@include rhythm($ms-6, 0, $ms-5n, $ms-1n, $font-size-xlarge);
				  }
				  h3{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-5, 0, 0, $ms-1n, $font-size-large);
				  }
				  h4{
					@include adjust-font-size-to($font-size-large);
    				@include rhythm($ms-4, 0, 0, $ms-1n, $font-size-large);
				  }
				  h5 {
				    @include adjust-font-size-to($font-size-large);
				    @include rhythm($ms-3, 0, 0, $ms-1n,$font-size-large);
				  }
				  h6 {
				    @include adjust-font-size-to($font-size-med-2);
				    @include rhythm($ms-2, 0, 0, $ms-1n, $font-size-med-2);
				  }
				  ul, ol, dl {
					 @include adjust-font-size-to($font-size-med-2);
					 @include rhythm($ms-1, 0, 0, $ms-3n, $font-size-med-2);
				  }
				  ul {
      			     li{
					    @include rhythm($ms-4n, 0, 0, $ms-4n, $font-size-small-2);

					    p{ @include adjust-font-size-to($font-size-small-2); }
					 }
					 ul {
					 	@include adjust-font-size-to($font-size-small-2);
					    @include rhythm($ms-3n, 0, 0, $ms-1n, $font-size-small-2);
					 }
				  }//end ul
			      ol {
				     li {
				      @include rhythm($ms-4n, 0, 0, $ms-4n, $font-size-small-2);
				      }
				     ol {
				      @include adjust-font-size-to($font-size-small-2);
				      @include rhythm($ms-3n, 0, 0, $ms-1n, $font-size-small-2);
				      }
				  }//end ol

				}//end #main article

			}//end #main
			aside.sidebar{
				 @include grid-span(3, 10);
			}//end aside.sidebar
		}//end section#core.container
	}//end section#core

	section#postfix{
		.container{

		}//end section#postfix .container
	}//end section#postfix

	footer{
		#site-footer{

			.container{
				#footer_contact{
					@include grid-span(6,1);
					a br{
						display:block;
					}
				}
				#footer_contact-links{
					@include grid-span(3,7);
					@include adjust-font-size-to($font-size-small);
				}
				#footer_feature{
					@include grid-span(3,10);
				}
				@include breakpoint($bp-desktop1-3){
					#footer_contact a br{ display:none;}
					#footer_contact-links{@include adjust-font-size-to($font-size-small-2);}
				}

			}//end .container
		}//end #site-footer
		#college.footer{
			.container{
				#footer_contact{}//end #footer_contact
				#footer_feature{}//end #footer_feature
			}//end #college.footer .container
		}//end #colllege.footer
		.wvu-footer-wrapper
		#wvu-footer{
			.container{
				//max-width:$bp-desktop2-1;
  				//width: ms(17);
  				@include breakpoint($bp-desktop1-2){
  					//max-width:$bp-desktop2-2;
  				}
  				@include breakpoint($bp-desktop1-3){
  					//max-width:$bp-desktop2-3;
  				}
  				@include breakpoint($bp-desktop1-4){
  					//max-width:$bp-desktop2-4;
  				}
				.wvu-credits{}//end .wvu-credits
				.wvu-icons{}//end .wvu-icons

			}//end #wvu.footer .container
		}//end #wvu.footer


	}//end footer.footer
	.long-menu{
		//@include breakpoint($bp-tablet-2){

		  .wrapper{

		  	//max-height:67em;
		  	nav{
		  	  column-count:3;
		  	  column-gap:ms(-1);
		  	}
		  	section{

		  	}
		  	.searchbar{
		  		//@include grid-span(8,1);
		  		//clear:both;
		  	}

		  }//end .wrapper
		//}//end breakpoint
	}//end .long-menu
}//end body
}//end breakpoint
