@include breakpoint($bp-tablet-1){
  $grids: 8;
  $gutters: 1/3;
  //@include background-grid;

#masthead_cpass{
	padding-bottom:0;
	a.logo-cpass{
		span{display: inline;}
		text-align:left;
		@include adjust-font-size-to($font-size-med);
		@include rhythm(0, $ms-6n, $ms-3n, 0, $font-size-med);
		@include grid-span(6, 1);

	}

	#social-cpass{
		a{ float:right; }
		display:block;
		@include grid-span(2,7);
	}
	#nav-cpass{
		@include grid-span(8, 1);
		clear:both;
		border:0;
		margin-bottom:0;
		padding-bottom:0;
		position:relative;
	 ul{
	 	width:100%; 
	 }
	 li{

		width: 19%;
		margin-bottom:0;
		display:table-cell;
		margin-right:1%;
		display:inline;
		&:last-child{
			margin-right:0;
		}
	  }
	  a{

	  	text-align:center;
	  	@include adjust-font-size-to($font-size-small-2);
	  	@include rhythm(0, $ms-3n, $ms-4n, 0, $font-size-small-2);
	  	float:left;
	  	vertical-align:text-bottom;
	  	font-family:$BdCn;
	  	font-weight:800;
	  }
	}//end #nav-cpass
}

}//end breakpoint