@include breakpoint($bp-mobile2-1){
  $grids: 6;
  $gutters: 1/3;
  //@include background-grid;

  body{
  	.container, .wvu-masthead-container{
  		max-width:$bp-mobile2-2;
  		//width: ms(17);

  		@include breakpoint($bp-mobile2-2){
  			max-width:$bp-mobile2-3;
  		}
  		@include breakpoint($bp-mobile2-3){
  			max-width:$bp-mobile2-4;
  		} 
  		@include breakpoint($bp-mobile2-4){
  			max-width:$bp-tablet-1;
  		} 	
  	}
	.wvu-masthead{
		.wvu-masthead-container{

			//border-bottom-left-radius: 8px;
			//border-bottom-right-radius: 8px;

		}
	}//end /wvu-masthead

	header{
		&#masthead_cpass{
			.container{
				.logo-short-wrapper{
					@include breakpoint($bp-mobile2-2-608){
						@include grid-span(4,1);
					}
				}
				.social-cpass{
					@include breakpoint($bp-mobile2-2-608){
						@include grid-span(2,5);
					}
				}
			}//end #college-masthead.container
		}//end #college-masthead

		.container{
			a.site-logo{}
			nav.nav.primary{}
		}//end header.container
	}//end header

	section#prefix{
		.container{
			@include breakpoint($bp-mobile2-2-608){
			  .breadcrumbs{
				@include grid-span(2,1);
			  }//end .breadcrumbs
			  .util{
  				@include rhythm(-$ms-5n, -$ms-5n, $ms-5n, 0, $font-size-small-2);
     		  	text-align:right;
				@include grid-span(4,3);
				span{
					
				}
				.btn{
					@include adjust-font-size-to($font-size-small);
					padding:ms(-8);
					padding-left: ms(2);
					&::before{
						left:3px;
					}
				}
			  }// end .util
			  .page-name{
				clear:both;
			  }//end .page-name
            }//end breakpoint bp-mobile2-2-608
		}//end section#prefix.container
	}//end section#prefix

	section#core{
		.container{
			#main{
				article{
					h1{
						
        				@include adjust-font-size-to($font-size-xlarge-2);
        				@include rhythm($ms-0, 0, 0, $ms-1n, $font-size-xlarge-2);
					}
					h2{
						@include adjust-font-size-to($font-size-large-2);
    					@include rhythm($ms-6, 0, $ms-7n, $ms-1n, $font-size-large-2);
					}
					h3{
						@include adjust-font-size-to($font-size-med-2);
    					@include rhythm($ms-5, 0, 0, $ms-1n, $font-size-med-2);
					}
					h4{
						@include adjust-font-size-to($font-size-med-2);
    					@include rhythm($ms-4, 0, 0, $ms-3n, $font-size-med-2);
					}
					h5 {
					    @include adjust-font-size-to($font-size-med-2);
					    @include rhythm($ms-3, 0, 0, $ms-3n,$font-size-med-2);
					}
					h6 {
					    @include adjust-font-size-to($font-size-med);
					    @include rhythm($ms-2, 0, 0, $ms-5n, $font-size-med);
					}
				}//end #main article
			}//end #main
			aside.sidebar{

			}//end aside.sidebar
		}//end section#core.container
	}//end section#core	

	section#postfix{
		.container{

		}//end section#postfix .container
	}//end section#postfix

	footer{
		#site-footer{
			#footer_contact{
				@include grid-span(6,1);
				clear:both;
			}
			#footer_contact-links{
				@include grid-span(6,1);
				clear:both;
			}
			#footer_feature{
				@include grid-span(6,1);
				clear:both;
			}

			@include breakpoint($bp-mobile2-2){
				#footer_contact-links{
					@include grid-span(3,1);
					clear:both;
				}
				#footer_feature{
					@include grid-span(3,4);
				}

			}//end $bp-mobile2-2-608 
		}//end #site-footer
		#college.footer{
			.container{
				#footer_contact{}//end #footer_contact
				#footer_feature{}//end #footer_feature
			}//end #college.footer .container
		}//end #colllege.footer

		#wvu-footer.footer{
			width:100%;
			.container{
				max-width:100%;
				.wvu-icons{}//end .wvu-icons

			}//end #wvu.footer .container
		}//end #wvu.footer
		
	}//end footer.footer
}//end body

}//end breakpoint

@import 'masthead-cpass';